.grid{
    height: 606px;
    width: 606px;
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;   
}

.square{
    height: 200px;
    width: 200px;
    border: solid black 1px;
}

.mole{
    background-image: url(fotor-ai-20230626222939.jpg);
    background-size: cover;
}